<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="button" routerLink="/register" color="light" expand="block">Signup</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>

  </form>


</ion-content>
